.list {
    list-style: none;
  }
  
  .link {
    text-decoration: none;
  }
  
  body {
    font-family: "Roboto", sans-serif;
  }
  
  .section-title {
      color: var(--navyblue, #2e2f42);
      text-align: center;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 1.11;
      letter-spacing: 0.72px;
      text-transform: capitalize;
    }
    
  
  /* -------------------ШАПКА------------------- */
  .logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.16;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    color: #2e2f42;
  }
  .logo-piece {
    color: #4d5ae5;
  }
  
  .menu-link-item {
    color: #2e2f42;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
  }
  
  .adress-link-item {
    color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
  }
  /* -------------------/ШАПКА------------------- */
  
  /* -------------------МЕЙН------------------- */
  
      /* HERO */
  
  .hero {
    background-color: #2e2f42;
  }
  .main-title {
    color: #fff;
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
  }
  
  .modal-btn {
    border-radius: 4px;
    background: var(--iris, #4d5ae5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--white, #fff);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
  }
   /* /HERO */
  
   /* SECTION-1 */
  .sup-title {
    color: var(--navyblue, #2e2f42);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
  }
  
  .text-sup-title {
    color: var(--slate, #434455);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
  }
  
  /* /SECTION-1 */
  
  
  /* SECTION-3 */
  .section-three {
    background: var(--cloud, #f4f4fd);
  }
  
  .employees-list-item {
    border-radius: 0px 0px 4px 4px;
    background: var(--white, #fff);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    display: inline-flex;
    padding-bottom: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }
  
  .employees-title {
    color: var(--navyblue, #2e2f42);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
  }
  
  .employees-position {
    color: var(--slate, #434455);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
  }
  
  /* /SECTION-3 */
  
  /* -------------------/МЕЙН*-------------------/
  
  /* -------------------ПІДВАЛ------------------- */
  
  .footer {
    background: var(--navyblue, #2e2f42);
  }
  
  .logo-footer {
    color: var(--cloud, #f4f4fd);
  }
  
  .footer-text {
    color: var(--cloud, #f4f4fd);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
  }
  
  /* -------------------/ПІДВАЛ------------------- */
  
  